.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    background-color: #343a40;
    color: #fff;
  }
  
  .sidebar-logo {
    max-width: 100px;
  }
  
  .sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav .nav-item {
    margin-bottom: 10px;
  }
  
  .sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .sidebar-nav .nav-link i {
    font-size: 16px;
    margin-right: 10px;
  }

  .sidebar-nav .nav-link span {
    margin-left: 10px; /* Adjust space between icon and text */
  }

  .sidebar-nav .nav-item span {
    margin-left: 10px; /* Adjust space between icon and text */
  }
  
  
  .sidebar-nav .nav-link.active {
    background-color: #495057;
    color: #ffffff;
  }
  
  .sidebar-nav .nav-link:hover {
    background-color: #495057;
  }
  
  .sidebar-nav .nav-content {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .sidebar-nav .nav-content a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #adb5bd;
    padding: 10px 0 10px 40px;
    text-decoration: none;
  }
  
  .sidebar-nav .nav-content a.active,
  .sidebar-nav .nav-content a:hover {
    color: #ffffff;
  }
  
  .sidebar-nav .nav-content a i {
    font-size: 14px;
    margin-right: 10px;
  }
  